<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Shopbybrand
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="seo_friendly_url_get_rewrite_path">
        <observer name="set_rewrite_path" instance="Mavenbird\Shopbybrand\Observer\CheckRewritePath"/>
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="set_noindex_pagination" instance="Mavenbird\Shopbybrand\Observer\NoindexPagination"/>
    </event>
    <event name="mb_seo_product_structured_data">
        <observer name="seo_structured_data" instance="Mavenbird\Shopbybrand\Observer\AddBrandProductStructuredData"/>
    </event>
</config>
